---
layout: base
title: Kontakt
---

%h2 Kontakt

%p Jeżeli chcesz powiadomić mnie o awarii serwera, masz jakieś pytania, lub po prostu chcesz wysłać mi wiadomość, skorzystaj z poniższego formularza.

:plain
  <iframe src="https://docs.google.com/spreadsheet/embeddedform?hl=pl&formkey=dEJ5eEVLWmJQQUY4SVJlTXkxNmRmQXc6MQ" width="760" height="680" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>

