---
layout: base
title: Pomoc
---

%h2 Pomoc

%p Poniżej znajdują się odpowiedzi na często zadawane pytania.

%h3 Nie wiem nic o protokole Jabber/XMPP, możesz mi pomóc?

%p Najlepiej jak przeczytasz (bardzo dobrze napisane) <a href="http://www.jabberfaq.info/">FAQ</a>.

%h3 Serwer nie działa tak jak powinien, co teraz?!

%p <a href="http://pl.wikipedia.org/wiki/Spokojnie,_to_tylko_awaria">Spokojnie, to tylko awaria</a>.

%p Jest kilka możliwych przyczyn awarii serwera:

%ol
  %li Brak prądu,
  %li Awaria łącza internetowego,
  %li Zawieszenie się serwera,
  %li Inne (bardzo rzadko)

%p <strong>Jeżeli chcesz poinformować mnie o awarii</strong> - zrób to za pomocą <a href="/contact/">formularza kontaktowego</a>.

%p Pamiętaj, że <strong>wszystkie</strong> informacje na temat znanych mi przerw w działaniu serwera sa umieszczane na <strong><a href="http://twitter.com/jidpl">oficjalnym koncie serwera jid.pl na Twitterze</a></strong>. Jeżeli chcesz być na bieżąco, warto śledzić ten profil.

%h3 Jak założyć konto na serwerze?

%p Konto możesz zarejestrować tylko i wyłącznie na <a href="https://secure.jid.pl/rejestracja/">poniższej stronie</a>. Rejestracja za pomocą klientów XMPP jest wyłączona.

%h3 Jak zmienić hasło do swojego konta?

%p Użyj wybranego przez siebie <a href="http://www.jabberfaq.info/#klienty">klienta XMPP</a>

%h3 Kto zajmuje się serwerem?

%p Serwer jest utrzymywany i zarządzany przez <a href="http://goldmann.pl">Marka Goldmanna</a>.

%p Jeżeli chcesz, możesz wspomóc serwer oferując darowiznę. Za wszelkie wpłaty - <strong>serdecznie dziękuję!</strong>

:plain
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIHTwYJKoZIhvcNAQcEoIIHQDCCBzwCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYB2dFjA8M8P/hT9IZeETgm/Pfrr7SfE6Kh2MLRLhYsZOj4Nzst8KwO1S0uIvNyFXsSqORPsFyVTqHVqgeKxnTbL/KuLuNfnZiW/J6RtCiyoNti/AiEtI0DJQQepxM2cTb/Ps/yjO6TKJLgwlDNN4bhlueGk6iuMTxdFtN9eIoxwADELMAkGBSsOAwIaBQAwgcwGCSqGSIb3DQEHATAUBggqhkiG9w0DBwQIMhPrLyiwhmuAgagJuKd29EkBYlUo534ZW8GZTbeMDMcwAoflizGH0BwQn8deeqoHeMXx3v+0eBLi8uYl2iAPKEfam2npjbx/5BgMQxbZ3QPXJBscNK9KL2YJwSGN4EmNGN1wM65tmnPk4JYuUyXdbVx4rtxqdU1ZoUdg1y9LDvnZ/GObCG+Ybe7yuF6w8BchxleM7nytbuKBN1nhhKOhI+l5HFg8EGNSiHrK1ek8I70ilR+gggOHMIIDgzCCAuygAwIBAgIBADANBgkqhkiG9w0BAQUFADCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20wHhcNMDQwMjEzMTAxMzE1WhcNMzUwMjEzMTAxMzE1WjCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20wgZ8wDQYJKoZIhvcNAQEBBQADgY0AMIGJAoGBAMFHTt38RMxLXJyO2SmS+Ndl72T7oKJ4u4uw+6awntALWh03PewmIJuzbALScsTS4sZoS1fKciBGoh11gIfHzylvkdNe/hJl66/RGqrj5rFb08sAABNTzDTiqqNpJeBsYs/c2aiGozptX2RlnBktH+SUNpAajW724Nv2Wvhif6sFAgMBAAGjge4wgeswHQYDVR0OBBYEFJaffLvGbxe9WT9S1wob7BDWZJRrMIG7BgNVHSMEgbMwgbCAFJaffLvGbxe9WT9S1wob7BDWZJRroYGUpIGRMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbYIBADAMBgNVHRMEBTADAQH/MA0GCSqGSIb3DQEBBQUAA4GBAIFfOlaagFrl71+jq6OKidbWFSE+Q4FqROvdgIONth+8kSK//Y/4ihuE4Ymvzn5ceE3S/iBSQQMjyvb+s2TWbQYDwcp129OPIbD9epdr4tJOUNiSojw7BHwYRiPh58S1xGlFgHFXwrEBb3dgNbMUa+u4qectsMAXpVHnD9wIyfmHMYIBmjCCAZYCAQEwgZQwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tAgEAMAkGBSsOAwIaBQCgXTAYBgkqhkiG9w0BCQMxCwYJKoZIhvcNAQcBMBwGCSqGSIb3DQEJBTEPFw0xMjA0MjIwOTQ0MDhaMCMGCSqGSIb3DQEJBDEWBBRdO6XLpJXcdBDPw5W42qcslTZ1djANBgkqhkiG9w0BAQEFAASBgJS4miLqIVzm6Jl6GCYasE7hJGZn2qoZLanMikL63rf6tieqhTr9t0y4kb+JdxZFMfA87/SLrImZ3DU4gk4phhBWSNbxRstIhxRUfHwQd2tvjSxgF+SDxawYDuwbURYI5tzn0UY4BbTixDFJNg7Vs17GP6VHgFa7q1iSwEF5XL0Y-----END PKCS7-----
        ">
        <input type="image" src="https://www.paypalobjects.com/pl_PL/PL/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal — Płać wygodnie i bezpiecznie">
        <img alt="" border="0" src="https://www.paypalobjects.com/pl_PL/i/scr/pixel.gif" width="1" height="1">
        </form>

