---
layout: base
title: Historia
---

%h2 Historia

%p <a href="/">Serwer XMPP jid.pl</a> został uruchomiony po raz pierwszy w 2006 roku. W tym czasie był to <a href="http://goldmann.pl">mój</a> prywatny serwer. Wyłączany na noc. Powód? Buczenie komputera nie było zbyt miłe w nocy, szczególnie, że znajdował się on przy łóżku. Kilka miesięcy pózniej zakupiłem stary komputer Compaq z procesorem <strong>Pentium II 400 Mhz</strong>, 64 MB pamięci RAM i dyskiem 6 GB. Demon szybkości to to nie był. Ale był tani w użytkowaniu (zasilacz 90W) i (co najważniejsze) cichy z powodu pasywnego chłodzenia.

%p Serwer spisywał sie całkiem dobrze, ale czasem się przegrzewał :) Dlatego też postanowiłem po kolejnych kilku miesiącach uruchomić serwer na nowym sprzęcie, w zaprzyjażnionej serwerowni w <strong>Łodzi</strong>.

%p Wtedy też zaanonsowałem uruchomienie serwera w sieci. Było to mniej więcej na początku roku 2007. Na starcie widać było nieufność, jednak już chwilę później liczba użytkowników serwera zaczeła gwałtownie rosnać, i tak:

%ul
  %li 30.05.2007: <strong>1 000</strong>
  %li 10.06.2007: <strong>2 000</strong>
  %li 11.06.2008: <strong>5 000</strong>
  %li 29.09.2008: <strong>8 000</strong>
  %li 07.12.2008: <strong>10 000</strong>

%p Na przełomie roku 2009 i 2010 liczba nowych rejestracji została nieznacznie wyhamowana, co nie znaczy, że liczba uzytkowników przestała rosnąć.

%p Na dzien 20 kwietnia 2012 roku mamy zarejestrowanych <strong>65 000 użytkowników</strong>, a w godzinach szczytu mamy około <strong>400 sesji użytkowników</strong> oraz prawie <strong>200 sesji serwerów</strong>. Myślę, że to całkiem dobry wynik :)


