---
layout: base
title: Strona główna
---

%div{:class => "alert"}
  %h3{:style=>"margin-bottom: 10px;"} Brak dostępu do serwera 22-23.04.2012
  %p <strong>22.04.2012, 22:30 CEST</strong>: Brak dostępu do serwera, łącze nie działa z powodu braku prądu na węźle operatora.
  %p <strong>23.04.2012, 11:45 CEST</strong>: Serwer jid.pl jest już dostępny. Podsumowanie awarii na <a href="/blog/2012/04/23/kwietniowe-awarie/">blogu</a>.
  %p <strong>23.04.2012, 12:00 CEST</strong>: Łącze znowu przestało działać...
  %p <strong>23.04.2012, 12:30 CEST</strong>: Działa!

.hero-unit
  %h1 &lt;jid.pl/&gt;
  %p Serwer XMPP działający od 2006 roku
  .btn-group
    %a{:class=>"btn btn-primary btn-large", :href=>"/blog/"} Blog
    %a{:class=>"btn btn-large", :href=>"/info/"} Informacje
    %a{:class=>"btn btn-large", :href=>"/help/"} Pomoc

.row
  .span5

    %h3 Ostatnie wiadomości na Twitterze

    :plain
      <script src="http://widgets.twimg.com/j/2/widget.js"></script>
      <script>
      new TWTR.Widget({
        version: 2,
        type: 'profile',
        rpp: 5,
        interval: 6000,
        width: 'auto',
        height: 300,
        theme: {
          shell: {
            background: '#ffffff',
            color: '#880000'
          },
          tweets: {
            background: '#ffffff',
            color: '#000000',
            links: '#880000'
          }
        },
        features: {
          scrollbar: false,
          loop: false,
          live: false,
          hashtags: true,
          timestamp: true,
          avatars: false,
          behavior: 'all'
        }
      }).render().setUser('jidpl').start();
      </script>

  .span2
    = partial( 'social.html.haml' )

