---
layout: base
title: Strona główna
---

%div{:class => "alert"} <strong>Informacja:</strong> Na <a href="/blog/">blogu</a> znajduje się <a href="/blog/2012/04/23/kwietniowe-awarie/">podsumowanie kwietniowych awarii</a>.

.hero-unit
  %h1 &lt;jid.pl/&gt;
  %p Serwer XMPP działający od 2006 roku
  .btn-group
    %a{:class=>"btn btn-primary btn-large", :href=>"/blog/"} Blog
    %a{:class=>"btn btn-large", :href=>"/info/"} Informacje
    %a{:class=>"btn btn-large", :href=>"/help/"} Pomoc

.row
  .span4

    %h3 Ostatnie wiadomości na Twitterze

    :plain
      <script src="http://widgets.twimg.com/j/2/widget.js"></script>
      <script>
      new TWTR.Widget({
        version: 2,
        type: 'profile',
        rpp: 5,
        interval: 6000,
        width: 'auto',
        height: 300,
        theme: {
          shell: {
            background: '#ffffff',
            color: '#880000'
          },
          tweets: {
            background: '#ffffff',
            color: '#000000',
            links: '#880000'
          }
        },
        features: {
          scrollbar: false,
          loop: false,
          live: false,
          hashtags: true,
          timestamp: true,
          avatars: false,
          behavior: 'all'
        }
      }).render().setUser('jidpl').start();
      </script>

  .span3
    = partial( 'latest_news.html.haml' )
    = partial( 'social.html.haml' )

