---
layout: base
title: "Strona g&#322;&#243;wna"
---

.hero-unit
  %h1 &lt;jid.pl/&gt;
  %p Serwer XMPP działający od 2006 roku
  .btn-group
    %a{:class=>"btn btn-primary btn-large", :href=>"/blog/"} Blog
    // %a{:class=>"btn btn-large", :href=>"https://secure.jid.pl/rejestracja/"} Rejestracja
    %a{:class=>"btn btn-large", :href=>"/info/"} Informacje
    %a{:class=>"btn btn-large", :href=>"/help/"} Pomoc

.row
  .span4

    :plain
      <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/jidpl" data-widget-id="349127072813297664">Tweets by @jidpl</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

  .span3
    = partial( 'latest_news.html.haml' )
    = partial( 'social.html.haml' )

