---
layout: base
---

%h2 Serwer w pigulce

%h3 Oprogramowanie

Openfire 3.6.4



%h3 Dane techniczne

SUN Fire x2200 M2<br/>
1x AMD Opteron 2210 (1.8GHz)</br>
8 GB ECC-R</br>
2x 250 GB SATA II (RAID-1)</br>

%h2 Historia serwera

