---
layout: base
title: Strona główna
---

%div{:class => "alert alert-error"} <strong>Uwaga!</strong> Od godziny 23:15 dnia 22.04.2012 serwer jid.pl nie jest dostępny z powodu awarii zasilania u dostawcy Internetu. Informacje na bieżąco na <a href="https://twitter.com/#!/jidpl">Twitterze</a>.

.hero-unit
  %h1 &lt;jid.pl/&gt;
  %p Serwer XMPP działający od 2006 roku
  .btn-group
    %a{:class=>"btn btn-primary btn-large", :href=>"/blog/"} Blog
    %a{:class=>"btn btn-large", :href=>"/info/"} Informacje
    %a{:class=>"btn btn-large", :href=>"/help/"} Pomoc

.row
  .span5

    %h3 Ostatnie wiadomości na Twitterze

    :plain
      <script src="http://widgets.twimg.com/j/2/widget.js"></script>
      <script>
      new TWTR.Widget({
        version: 2,
        type: 'profile',
        rpp: 5,
        interval: 6000,
        width: 'auto',
        height: 300,
        theme: {
          shell: {
            background: '#ffffff',
            color: '#880000'
          },
          tweets: {
            background: '#ffffff',
            color: '#000000',
            links: '#880000'
          }
        },
        features: {
          scrollbar: false,
          loop: false,
          live: false,
          hashtags: true,
          timestamp: true,
          avatars: false,
          behavior: 'all'
        }
      }).render().setUser('jidpl').start();
      </script>

  .span2
    = partial( 'social.html.haml' )

