---
layout: base
title: Informacje i statystyki
---

%h2 Informacje i statystyki

%p Poniżej znajdziejsz garść informacji na temat serwera.

%h3 Statystyki

:javascript
  $.ajax({
    url: 'http://whateverorigin.org/get?url=' + encodeURIComponent('http://stats.jid.pl/stats.txt') + '&callback=?',
    dataType: 'json',
    timeout: 5000,
    success: function(data) {
      $('#users-count').html($.parseJSON(data.contents)["users"]);
      $('#servers-count').html($.parseJSON(data.contents)["servers"]);
      $('#process-uptime').html($.parseJSON(data.contents)["process_uptime"]);
      $('#system-uptime').html($.parseJSON(data.contents)["system_uptime"]);
    },
    error: function(xhr, options, error) {
      $('#users-count').html("błąd");
      $('#servers-count').html("błąd");
      $('#process-uptime').html("błąd");
      $('#system-uptime').html("błąd");
    }
  });

%table.table{:style=>"width: 400px;"}
  %tr
    %th Ilość podłączonych użytkowników
    %td
      %strong
        #users-count ładowanie...
  %tr
    %th Ilość podłączonych serwerów
    %td
      %strong
        #servers-count ładowanie...
  %tr
    %th Czas działania serwera
    %td
      %strong
        #process-uptime ładowanie...
  %tr
    %th Czas działania systemu
    %td
      %strong
        #system-uptime ładowanie...

%h3 Oprogramowanie

%table.table{:style=>"width: 400px;"}
  %tr
    %th{:style=>"width: 200px;"} System operacyjny
    %td CentOS 6
  %tr
    %th Serwer XMPP
    %td Openfire 3.6.4
  %tr
    %th Obsługiwane porty
    %td 5222 - TLS i połączenia nieszyfrowane<br/>5223 - SSL (nie zalecane)
  %tr
    %th Dostępne transporty
    %td
      %p <a href="http://community.igniterealtime.org/community/plugins/im_gateway_support">Kraken IM Gateway</a> 1.1.3beta3
      %ul
        %li MSN Messenger
        %li IRC
        %li AOL Instant Messenger
        %li ICQ
        %li Yahoo! Messenger
        %li Google Talk
        %li XMPP


%h3 Parametry techniczne fizycznego serwera

%p W tej chwili używamy jednej maszyny wirtualnej na serwerze o konfiguracji przedstawionej poniżej.

%table.table{:style=>"width: 400px;"}
  %tr
    %th{:style=>"width: 120px;"} Model serwera
    %td Dell PowerEdge 1950 III
  %tr
    %th Procesor
    %td 1x Intel Xeon E5430 (2.66GHz)
  %tr
    %th Pamiec RAM
    %td 8 GB ECC-R
  %tr
    %th Dysk twardy
    %td 2x 1 TB SATA II (RAID-1)

%h3 Parametry techniczne wirtualnej maszyny

%table.table{:style=>"width: 400px;"}
  %tr
    %th{:style=>"width: 120px;"} Procesor
    %td 1 rdzeń, Intel Xeon E5430 (2.66GHz)
  %tr
    %th Pamięć RAM
    %td 2 GB
  %tr
    %th Dysk twardy
    %td 20 GB

